.card{
    width: 125px;
    height: 180px;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    position: relative;
    background-image: linear-gradient(to right bottom, #44444a, #5c5c64, #76757f, #928e9a, #aea9b7);
}
.card-title{
    border: 2px solid black;
    background-color:black;
    width: 105px;
    height: auto;
    position: absolute;
    top: -10px;
    left: 10px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 11px;
}
.card-image{
    margin-top: 25px;
}
.card-button{

    background-color: rgba(10, 216, 10, 0.5);
    width: 80px;
    height: 25px;
    border-radius: 5px;
    margin: 10px auto;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    color: white;
    cursor: url("../../images/pokeball-icon.ico"),pointer;
}
.card-button:hover{
    background-color: rgba(3, 197, 3,1);
}


