.footer{
    text-align: center;
    background-color: black;
    padding: 5px;
    font-weight: bold;
    color: white;
}
.footer-icons{
    width: 100%;
    cursor: default;
    font-size: 40px;
}
.icon{
    margin: 10px;
    color: teal;
}
.footer-text > a{
    color: teal;
}
