.movements-item{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-size: 13px;
}
.movement-button{
    background-color: rgba(10, 216, 10, 0.5);
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.movement-button:hover{
    background-color: rgba(3, 197, 3,1);
}
@media screen and (min-width:800px){
    .movements-item{
        font-size: 16px;
    }
    .movement-button{
        font-size: 14px;
    }
}
